.row
  =simple_form_for @block, url: admin_neighborhood_blocks_path(@block.neighborhood) do |f|
    .col-md-2
    .col-md-8
      .row
        =f.input :name, label: false, label: "Name"
        =f.input :description, label: false, label: "Description"
        =f.input :polyline, label: false, as: :hidden

= content_tag "div", id: "map", data: {polyline: @block} do
  Loading map...

%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}


%br
.row.text-center
  %button.btn.btn-info{onclick: "$('#new_block').submit()"}
    Create New Block
:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 40%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: 42.367735, lng: -71.035241},
      mapTypeId: 'roadmap'
    });
    
    var drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.POLYLINE,
      drawingControl: false,
      circleOptions: {
        fillColor: '#ffff00',
        fillOpacity: 1,
        strokeWeight: 10,
        clickable: false,
        editable: true,
        zIndex: 1
      }
    });
    drawingManager.setMap(map);

    google.maps.event.addListener(drawingManager, 'polylinecomplete', function(line) {
      document.getElementById("block_polyline").value = line.getPath().getArray().toString();

      //alert(line.getPath().getArray().toString());  
    });
  }

%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&libraries=drawing&callback=initMap"}
  :cdata

