%h1.text-center
  =@block.name
%h3.text-center
  =@block.description
-if @block.user
  %h5.text-center
    ="This block has been adopted by "
    =mail_to @block.user.email,  "#{@block.user.name}"
-else
  %h5.text-center
    ="Contact "
    =mail_to 'dedwards8@gmail.com', "Derek Edwards"
    ="to adopt this block."

.row
  .col-md-12.text-center
    =render partial: 'clean_modal'
    %button.btn.btn-sm.btn-info{"data-target" => "#myModal", "data-toggle" => "modal", type: "button"} I Cleaned this Block Today
%br

= content_tag "div", id: "map", data: {polyline: @block.polyline, color: @block.color, center: @block.center} do
  Loading map...

.row.text-center
  %h2
    Activity on this Block
  .col-md-1
  .col-md-10
    -@block.cleanings.order(time: :desc).each do |cleaning|
      %hr
      %h4
        ="Block cleaned on #{cleaning.time.strftime("%a %b %e, %Y")}"
      .row
        .col-md-3
        .col-md-6
          =cleaning.note

      =render partial: 'cleaning_photos', locals: {cleaning: cleaning}

%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/

:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 40%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript
  // This example creates a 2-pixel-wide red polyline showing the path of
  // the first trans-Pacific flight between Oakland, CA, and Brisbane,
  // Australia which was made by Charles Kingsford Smith.

  function initMap() {
    var polyline = $('#map').data('polyline');
    var color = $('#map').data('color');
    var center = $('#map').data('center');

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: center,
      mapTypeId: 'roadmap'
    });


    var new_line = new google.maps.Polyline({
      path: polyline,
      geodesic: true,
      strokeColor: color,
      strokeOpacity: .5,
      strokeWeight: 8
    });

    new_line.setMap(map);

  }

%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&callback=initMap"}
  :cdata