%h2 
  Friendly Reminder

-if @blocks.count == 1
  You have a block that needs attention.  
-else
  ="You have #{@blocks.count} blocks that need attention."

%br
%ul
  -@blocks.each do |block|
    -if block.last_cleaned.nil?
      %li 
        ="#{block.name} has not been cleaned in at least 10 days."
    -else
      %li
        ="#{block.name} was last #{block.days_since_cleaned}."

%h4
  =link_to root_url do
    Please login to CleanBoston.org to mark your block as clean.

%h4
  ="Thanks for your help making your neighborhood a better place to live."