%h1.text-center
  %br
  =@user.name
-if current_user == @user
  %div.text-center
    =link_to edit_user_registration_path do
      %i.fa.fa-edit
      edit  
%h3.text-center
  ="Member since #{@user.created_at.strftime('%B %Y')}."

.col-md-12
  %h2.text-center
    Your Blocks

  -if @user.blocks.count == 0
    %h4.text-center You have not adopted any blocks.
    %hr
    %h5.text-center Find your neighborhood to get started
    -@neighborhoods.each do |neighborhood|
      .row.text-center
        %br
        .col-md-12
          %h3
            =link_to neighborhood_path(neighborhood) do 
              =neighborhood.name
  -else
    -@user.blocks.each do |block|
      =link_to block_path(block) do
        .row
          .col-md-4
          .col-md-4
            .well.hover{class: "#{block.color}-background"}
              %h4.text-center
                =block.name
              %div.text-center
                =block.days_since_cleaned

.div#data-user-id{data: {user_id: @user.id}}
-if @user.blocks.count > 0
  .row.text-center.question
    .question
      Subscribe to Cleaning Reminders
    %label.switch#reminder-email
      %input{type: "checkbox", checked: "#{@user.subscribed_to_reminders}" == "true"}
      %span.slider.round



:javascript
  $("#reminder-email").change(function(){
    var userId = $('#data-user-id').data('userId');

    $.ajax({
      url: '/users/' + userId + '/toggle_reminders',
      type: 'GET',
    });
  });

