.col-md-3
.col-md-6
  .row
    .col-md-12
      =f.input :name
  .row
    .col-md-12    
      =f.input :location_description, label: false, label: "Location"
  .row
    .col-md-4
      =f.input :event_date, html5: true
    .col-md-3
      =f.input :start_time, html5: true
    .col-md-5
      =f.input :end_time, html5: true
  .row
    .col-md-12
      =f.input :description
  .row
    .col-md-12
      =simple_fields_for :other do |o|
        =o.input :send_emails, as: :boolean, label: "Send Email to Neighborhood Users"
  .row 
    .col-md-12
      =f.button :submit
