/ Modal
#adoptModal.modal.no-padding.fade{role: "dialog"}
  .modal-dialog
    / Modal content
    .modal-content.text-center
      =simple_form_for @new_cleaning, url: cleanings_path do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title="Adopt #{@block.name}"
        .modal-body
          %p
            All you need to do is commit to cleaning this block once every week or two.
          %p
            Each time you clean it, be sure to mark it as clean.
          %p
            You can un-adopt this block at any time (no judgement).
        
          -if current_user == nil
            %p
              Click Login or Sign Up below to adopt this block.

        .modal-footer.text-center
          %button.text-center.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
          -if current_user
            =link_to adopt_block_path(@block), method: :post do
              %button.btn.btn-info
                Adopt
          -else 
            =link_to new_user_session_path(block_id: @block.id) do
              %button.btn.btn-info
                Login
            =link_to new_user_registration_path(block_id: @block.id) do 
              %button.btn.btn-info
                Sign Up

:javascript
  $(document).ready(function() {  
    var modals = ['#adoptModal'];
    if (window.location.hash && ~modals.indexOf(window.location.hash)) {
       $(window.location.hash).modal();
    }
  })