/ Modal
#cleanModal.modal.no-padding.fade{role: "dialog"}
  .modal-dialog
    / Modal content
    .modal-content.text-center
      =simple_form_for @new_cleaning, url: cleanings_path do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title Thanks for cleaning this block!
        .modal-body
          =f.input :note, label: false, label: "Leave a note about this block (optional)"
          .row.text-center
            .col-md-6.text-center
              =f.input :before_photo, as: :file, label: "Before Photo (optional)"
            .col-md-6.text-center
              =f.input :after_photo, as: :file, label: "After Photo (optional)"
          =f.input :block_id, as: :hidden, input_html: { :value => @block.id }
          =f.input :time, as: :date, label: false, label: "Date of Cleaning"

        .modal-footer.text-center
          %button.text-center.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
          =f.button :submit, "Mark Block as Clean", class: 'btn-info'

:javascript
  $(document).ready(function() {  
    var modals = ['#cleanModal'];
    if (window.location.hash && ~modals.indexOf(window.location.hash)) {
       $(window.location.hash).modal();
    }
  })