%head
  %script{src: "https://www.gstatic.com/charts/loader.js", type: "text/javascript"}
.row
  .col-md-4.text-center
    =render partial: 'last_year_chart'
  .col-md-4.text-center
    =render partial: 'block_status_chart'
  .col-md-4.text-center
    =render partial: 'popular_chart'