%div
  %h1.text-center
    CleanBoston.org
  %h4.text-center
    Because litter sucks.
%hr
.row
  .col-md-12
    %h3.text-center
      Find Your Neighborhood

      -@neighborhoods.each do |neighborhood|
        .row.text-center
          .col-md-12
            %h3
              =link_to admin_neighborhood_path(neighborhood) do 
                =neighborhood.name

.footer
  .row
    .col-md-12
      %h2.text-center
        What is CleanBoston.org?
      .col-md-4
      %p
        .col-md-8
          %ul
            %li Find the blocks in your neighborhood that are getting cleaned.
            %li Find the blocks that need help.
            %li If your block is being neglected, you can adopt that block. 
            %li Adopting a block only requires about 20 minutes of work per week. 
            %li Group cleans can be organized around blocks in need of extra help.
            %li 
              Contact 
              %a{href: "https://github.com/DerekEdwards"} Derek Edwards
              at 
              %a{href: "mailto:dedwards8@gmail.com"} dedwards8@gmail.com 
              for more info.