%h1.text-center
  =@neighborhood.name
%h3.text-center
  =@neighborhood.description

= content_tag "div", id: "map", data: {blocks: @map_hash} do
  Loading map...

=render partial: 'updates'

%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/

:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 65%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript
  // This example creates a 2-pixel-wide red polyline showing the path of
  // the first trans-Pacific flight between Oakland, CA, and Brisbane,
  // Australia which was made by Charles Kingsford Smith.

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 42.367735, lng: -71.035241},
      mapTypeId: 'roadmap'
    });

    var block_lines = $('#map').data('blocks');

    var contents = [];

    for(var i = 0; i < block_lines.length; i++){
      var new_line = new google.maps.Polyline({
        id: i,
        path: block_lines[i]['polyline'],
        geodesic: true,
        strokeColor: block_lines[i]['color'],
        strokeOpacity: .6,
        strokeWeight: 8
      });

      infowindow = new google.maps.InfoWindow();
      contents[i] = block_lines[i]['content'];


      new_line.addListener('click', function(clickEvent) {
        var position = clickEvent.latLng;
        infowindow.setContent(contents[this.id]);
        infowindow.setPosition(position);
        infowindow.open(map);
      });

      new_line.setMap(map);
    }

      
  }
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&callback=initMap"}
  :cdata