%h1.text-center
  =@neighborhood.name
%h3.text-center
  =@neighborhood.description

= content_tag "div", id: "map", data: {blocks: @map_hash} do
  Loading map...
= content_tag "div", id: "legend" do
  %h4
    Legend

=render partial: 'updates'

%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/

:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 65%;
  }
  #legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
  }
  #legend h4 {
    margin-top: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript
  // This example creates a 2-pixel-wide red polyline showing the path of
  // the first trans-Pacific flight between Oakland, CA, and Brisbane,
  // Australia which was made by Charles Kingsford Smith.

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 42.367735, lng: -71.035241},
      mapTypeId: 'roadmap'
    });

    var block_lines = $('#map').data('blocks');

    var contents = [];

    var legend = document.getElementById('legend');

    var greenDiv = document.createElement('div');
    greenDiv.innerHTML = "<div class='green-background'>Cleaned under 9 days ago</div>";
    legend.appendChild(greenDiv);
    
    var yellowDiv = document.createElement('div');
    yellowDiv.innerHTML = "<div class='yellow-background'>Cleaned 9-15 days ago</div>";
    legend.appendChild(yellowDiv);

    var orangeDiv = document.createElement('div');
    orangeDiv.innerHTML = "<div class='orange-background'>Cleaned 16-30 days ago</div>";
    legend.appendChild(orangeDiv);

    var redDiv = document.createElement('div');
    redDiv.innerHTML = "<div class='red-background'>Cleaned 31-90 days ago</div>";
    legend.appendChild(redDiv);

    var blackDiv = document.createElement('div');
    blackDiv.innerHTML = "<div class='black-background'>Cleaned over 90 days ago</div>";
    legend.appendChild(blackDiv);

    map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    for(var i = 0; i < block_lines.length; i++){
      var new_line = new google.maps.Polyline({
        id: i,
        path: block_lines[i]['polyline'],
        geodesic: true,
        strokeColor: block_lines[i]['color'],
        strokeOpacity: .6,
        strokeWeight: 8
      });

      infowindow = new google.maps.InfoWindow();
      contents[i] = block_lines[i]['content'];


      new_line.addListener('mouseover', function(hoverEvent) {
        var position = hoverEvent.latLng;
        infowindow.setContent(contents[this.id]);
        infowindow.setPosition(position);
        infowindow.open(map);
      });

      new_line.setMap(map);
    }

      
  }
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&callback=initMap"}
  :cdata