%div.backgroundImg
  %br
  %br
  %h1.text-center
    CleanBoston.org
  %h4.text-center
    Because litter sucks.
  %hr{style: "border-color:black;", width:"50%"}
  .row
    .col-md-12
      %h3.text-center
        Select Your Neighborhood

      -@neighborhoods.in_groups_of(1) do |neighborhoods|
        .row.text-center
          -neighborhoods.each do |neighborhood|
            -if neighborhood
              .col-md-4
              .col-md-4
                %div.well.well-transparent.grid-cover-photo{onclick: "location.href='#{neighborhood_path(neighborhood)}';", onMouseOver: "this.style.cursor='pointer'"}
                  .overlay-text
                    =neighborhood.name
                  .rounded
                    %img{src: "#{neighborhood.photo}"}
                  -unless neighborhood.message.empty?
                    %h4.alert.alert-info.text-center
                      =neighborhood.message.html_safe

.footer
  .row
    .col-md-12
      %h2.text-center
        What is CleanBoston.org?
      .col-md-4
      %p
        .col-md-8
          %ul
            %li Find the blocks in your neighborhood that are getting cleaned.
            %li Find the blocks that need help.
            %li If your block is being neglected, you can adopt that block. 
            %li Adopting a block only requires about 20 minutes of work per week. 
            %li Group cleans can be organized around blocks in need of extra help.
            %li 
              Contact 
              %a{href: "https://github.com/DerekEdwards"} Derek Edwards
              at 
              %a{href: "mailto:dedwards8@gmail.com"} dedwards8@gmail.com 
              for more info.