%div.backgroundImg.no-padding
  %br
  %div.h1.text-center.no-padding
    =@neighborhood.name
  -if current_user and current_user.admin
    .row
      .col-md-4
      .col-md-2.text-center
        =link_to edit_neighborhood_path(@neighborhood) do
          %i.fa.fa-edit
          Edit Neighborhood 
      .col-md-2.text-center
        =link_to new_neighborhood_block_path(@neighborhood) do
          %i.fa.fa-plus-circle
          Create Block
    %br
  %div.h4.text-center.no-padding
    =@neighborhood.description
  -unless @neighborhood.message.empty?
    %div.row
      .col-md-2
      .col-md-8
        %h4.alert.alert-info.text-center
          =@neighborhood.message.html_safe
  -else
    %br
    %br
= content_tag "div", id: "map", data: {blocks: @map_hash, lat: @neighborhood.lat, lng: @neighborhood.lng, zoom: @neighborhood.zoom} do
  Loading map...
.row
  .col-md-2.text-center.white-background Legend: 
  .col-md-2.text-center.green-background Cleaned under 10 days ago
  .col-md-2.text-center.yellow-background Cleaned 11-20 days ago
  .col-md-2.text-center.orange-background Cleaned 21-30 days ago
  .col-md-2.text-center.red-background Cleaned 31-90 days ago
  .col-md-2.text-center.black-background Cleaned over 90 days ago

=render partial: 'updates'

%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/

:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 65%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript

  function initMap() {
    var zoom = $('#map').data('zoom');
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: zoom,
      center: 
        {
          lat: $('#map').data('lat'), 
          lng: $('#map').data('lng')
        },
      mapTypeId: 'roadmap'
    });

    var block_lines = $('#map').data('blocks');

    var contents = [];

    for(var i = 0; i < block_lines.length; i++){
      var new_line = new google.maps.Polyline({
        id: i,
        path: block_lines[i]['polyline'],
        geodesic: true,
        strokeColor: block_lines[i]['color'],
        strokeOpacity: .6,
        strokeWeight: 8
      });

      infowindow = new google.maps.InfoWindow();
      contents[i] = block_lines[i]['content'];

      new_line.addListener('click', function(hoverEvent) {
        var position = hoverEvent.latLng;
        infowindow.setContent(contents[this.id]);
        infowindow.setPosition(position);
        infowindow.open(map);
      });

      new_line.setMap(map);
    }

      
  }
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&callback=initMap"}
  :cdata

