.cleaning-big img {
  max-width: 100%;
  max-height: 2000px;
}

.overlay-text {
  position: absolute; 
  top: 5px; 
  left: 20px; 
  width: 40%; 
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.green-background {
    background-color: #00CC00;
    color: white;
    font-size: 12px;
}

.yellow-background {
    background-color: #FFFF00;
    color: black;
    font-size: 12px;
}

.orange-background {
    background-color: #FF9900;
    color: white;
    font-size: 12px;
}

.red-background {
    background-color: #FF0000;
    color: white;
    font-size: 12px;
}

.black-background {
    background-color: #000000;
    color: white;
    font-size: 12px;
}

.white-background {
    background-color: #999999;
    color: black;
    font-size: 12px;
}