html, body { 
  height:100%; 
}

.cleaning-big img {
  max-width: 100%;
  max-height: 2000px;
}

.fine-print {
  font-size: small;
  color: #426bf4;
}

.footer {
  background-color: #DDDDDD;
  min-height: 100%;
  overflow: auto;
}

.overlay-text {
  position: absolute; 
  top: 5px; 
  left: 20px; 
  width: 40%; 
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.rounded img {
  border-radius: 10px 30px;
}

.hover:hover{
  box-shadow: 0 0 8px rgba(217,84,80, 0.6);
}

.green-background {
    background-color: #00CC00 !important;
    border-color: #00CC00;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.yellow-background {
    background-color: #FFFF00 !important;
    border-color: #FFFF00;
    color: black;
    font-size: 12px;
}

.orange-background {
    background-color: #FF9900 !important;
    border-color: #FF9900;
    color: white;
    font-size: 12px;
}

.red-background {
    background-color: #FF0000 !important;
    border-color: #FF0000;
    color: white;
    font-size: 12px;
}

.black-background {
    background-color: #000000 !important;
    border-color: #000000;
    color: white;
    font-size: 12px;
}

.white-background {
    background-color: #999999;
    border-color: #999999;
    color: black;
    font-size: 12px;
}

.grid-cover-photo img {
  max-width: 100%;
  max-height: 300px;
}

